

                    <div class="container-fluid">
                      <div style="height: 1vh;"></div>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Student Count</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <%= @students.count %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Fee  Recievable</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <%= Student.sum(:total) %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Fee Recived</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <%= Receipt.where(status: true).sum(:total) %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Pending Fee</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <%= Student.sum(:total)- Receipt.where(status: true).sum(:total) %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Student List
                            </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                          <th>name</th>
                                          <th>caste</th>
                                          <th>Total Fees</th>
                                          <th>student_class</th>
                                          <th>branch</th>
                                          <th>Fees Paid</th>
                                          <th>Remaining Fees </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                      <% @students.each do |s| %>
                                      <tr>
                                        <td><%= s.name%></td>
                                        <td><%= s.caste%></td>
                                        <td><%= s.total%></td>

                                        <td><%= s.student_class%></td>
                                        <td><%= s.branch%></td>
                                        <td><%= Receipt.where(student_id: s.id, status: true).sum(:total)%></td>
                                        <td><%= s.total- Receipt.where(student_id: s.id, status: true).sum(:total)%></td>
                                      </tr>
                                       <% end %>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        </div>



                    </div>




                    <script type="text/javascript">
                      $(document).ready(function() {


                        $('#dataTable').DataTable( {
                          dom: 'Bfrtip',
                           	buttons: [
                                  'copy', 'excel', 'pdf'
                              ]

                          } );
                      });
                    </script>
