

                    <div class="container-fluid">
                      <div style="height: 2vh;"></div>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Student Count</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <%= @students.count %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Fee  Recievable</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <%= Student.sum(:total) %>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Student List
                            </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                          <th>name</th>
                                          <th>caste</th>
                                          <th>admission_year</th>
                                          <th>student_class</th>
                                          <th>branch</th>
                                          <th>mobile</th>
                                          <th>Action </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                      <% @students.each do |s| %>
                                      <tr>
                                        <td><%= s.name%></td>
                                        <td><%= s.caste%></td>
                                        <td><%= s.admission_year%></td>

                                        <td><%= s.student_class%></td>
                                        <td><%= s.branch%></td>
                                        <td><%= s.mobile%></td>
                                        <td>Generate Receipts </td>
                                      </tr>
                                       <% end %>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        </div>



                    </div>


                    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

                    <script type="text/javascript">
                      $(document).ready(function() {


                        $('#dataTable').DataTable( {
                              order: [[2, 'asc']],
                              rowGroup: {
                                  dataSrc: 2
                              }
                          } );
                      });
                    </script>
