
<%= form_for @receipt   do |form| %>


 <div class="col-sm-8">
  <table class="table-bordered table ">

<tbody>
  <tr>
    <h3 align="center"> Fee Reciept </h3>

    </tr>

    <tr>
      <td>
         <div >  NAME <b> <%=@student.name %></b><br>Class<b> <%=@student.student_class %></b>
        <br>Branch<b><%=@student.branch %></b><br> Category <b><%=@student.caste %><b>
  </div>
</td>
  <td>
    <%= form.label :receipt_no %><div class="col">
    <%= form.text_field :receipt_no, :value => @receipt_no, :readonly => true %>
    </div>
    SELECT DATE <div class="col"> <%= date_field("receipt", "receipt_date", value:   @time1)
    %></div>
    </td>
    </tr>

 




<tr>
        <td>  FEES FOR THE ACADEMIC YEAR :
   </td>

     <td>
      <select class="form-control" id="sel1" name="sellist1">
        <option>FE</option>
        <option>SE</option>
      </select>
     </td>

      </tr>
      <tr>
          <td> Tution  FEES <div class="col">

          </div></td>
       <td><input type="text" class="form-control" placeholder="Other fees ">
           </td>

        </tr>

      </tr>
      <tr>
          <td> Development FEES</td>
       <td><input type="text" class="form-control" placeholder="Other fees ">
           </td>

        </tr>

        <tr>
            <td> Other FEES <div class="col">

            </div></td>
         <td><input type="text" class="form-control" placeholder="Other fees ">
             </td>

          </tr>








<tr>
    <td> CASh/NEFT/D.D NO.<div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td>DATE.<div class="col">
    <input type="date" id="birthday" name="date"></div></td>



</tr>

<tr>
    <td>AMOUNT RS. <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td>BANK NAME  <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>

<tr>
    <td>ISSUING BRANCH NAME<div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td>TOTAL RECV. AMOUNT <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>
<tr>
    <td>RECV. AMOUNT IN WORDS <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td> STUDENT MOBILE NO. <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>




</tr>

  </tbody></table>
</div>
<%= form.submit %>
<% end %>
