
<%= form_for @receipt   do |form| %>


 <div class="col-sm-8">
  <table class="table-bordered table ">

<tbody>
  <tr>
    <h3 align="center"> Fee Reciept </h3>
    <%= form.hidden_field  :student_id, :value => @student.id %>
    </tr>


    <tr>
      <td>
        <div >

            NAME <b> <%=@student.name %></b><br>Class<b> <%=@student.student_class %></b>
        <br>Branch<b><%=@student.branch %></b><br> Category <b><%=@student.caste %><b>
        </div>
</td>
  <td>
    <%= form.label :receipt_no %><div class="col">
    <%= form.text_field :receipt_no, :value => @receipt_no, :readonly => true %>
    </div>
    Select Date <div class="col"> <%= form.date_field :receipt_date ,   value:   @time1 %>
    </div>
    </td>
    </tr>






<tr>
        <td> <%= form.label :academic_year %><div class="col">
   </td>

     <td>

       <%= form.text_field :academic_year, :value =>@student.academic_year, :readonly => true %>
     </td>

      </tr>
      <tr>
          <td> <%= form.label :tution_fee %> <div class="col">

          </div></td>
       <td><%= form.number_field :tution_fee  %>
           </td>

        </tr>

      </tr>
      <tr>
          <td><%= form.label :devlopment_fee %></td>
       <td><%= form.number_field :devlopment_fee  %>
           </td>

        </tr>

        <tr>
            <td> <%= form.label :other_fee %> <div class="col">

            </div></td>
         <td><%= form.number_field :other_fee %>
             </td>

          </tr>

          <tr>
              <td> <%= form.label :total %> <div class="col">

              </div></td>
           <td><%= form.number_field :total %>
               </td>

            </tr>






<tr>
    <td> CASh/NEFT/D.D<div class="col">
      <%= form.text_field :dd_no %></div> <div class="col">
      D.D NO.<%= form.text_field :payment_mode %>
    </div></td>
    <td>DATE.<div class="col">
    <%= form.date_field :dd_date ,   value:   @time1 %>



</tr>

<tr>
    <td>AMOUNT RS. <div class="col">
     <%= form.number_field :dd_amount %>
    </div></td>
    <td>BANK NAME  <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>

<tr>
    <td>ISSUING BRANCH NAME<div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td>TOTAL RECV. AMOUNT <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>
<tr>
    <td>RECV. AMOUNT IN WORDS <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td> STUDENT MOBILE NO. <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>

<tr>

    <td>   Conform Reciept <%= form.label :status %> <div class="col">

    </div></td>
 <td><%= form.check_box :status %>
     </td>

  </tr>

  </tbody></table>
</div>
<%= form.submit %>
<% end %>
