<!DOCTYPE html>
<html>
  <head>
    <title>FeeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no" />


      <%= render 'layouts/jscss' %>
   



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>




  </head>
  <body class="sb-nav-fixed">
     <%= render 'layouts/navigation' %>


     <div id="layoutSidenav">


      <%= render 'layouts/sidemenu' %>


        <div id="layoutSidenav_content">
            <main>
         <%= render 'layouts/messages' %>
          <%= yield %>
            </main>

    </div>

  </div>


  </body>
  <footer>



  </footer>
</html>
